.login-wrapper{
	width: 590px;
	height: 484px;
	margin: 10% auto;
	text-align: center;
}
.login-wrapper .input{
	font-size: 26px;
	padding: 6px 12px;
	height: 60px;	
}
.login-wrapper .btn {
	font-size: 31px;
	height: 53px;
	margin-top: 19px;
	padding: 0 70px;
}
.login-wrapper .label{
	font-size: 35px;

}
.login-wrapper .modal-header{
	padding-top: 15px;
	padding-bottom: 15px;
	border-width: 0 0 15px 0;

}
.login-wrapper .modal-body{
	padding: 16px 82px;

}
.login-wrapper .modal-title{
	font-size: 40px;
}
.login-wrapper .form-group {
	margin-bottom: 14px;
}