.my-work .projects{
	margin: 0 10px;
}

/* _____________ Существующие проекты и подписи _________ */
.my-work .item{
	width: 183px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin: 13px 12px 26px;
	position: relative;
}
.my-work .item img{
	border: 2px solid #3ba8c0;
	border-radius: 4px;
	width: 100%;
	height: 100%;	
}
.my-work .item:hover img{
	-moz-opacity: 0.20;
	opacity:.20;
	filter: alpha(opacity=20);
}
.my-work .item .hover-img{
	width: 183px;
	height: 128px;
	border-radius: 4px;	
	margin-bottom: 8px;
}
.item:hover .hover-img{
	background-color: rgb( 1, 108, 164);
}
.my-work .item .zoom-wrapper{
	position:absolute;
	width: 100%;
	top: 55px;
	text-align: center;
	transform: scale(0);
	-webkit-transform: scale(0);
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
.my-work .item .zoom {
	font-family: 'fira_sansbook';
	border: solid 3px #eff3f7;
	color: #eff3f7;
	text-decoration: none;
	border-radius: 5px;	
	padding: 0 4px;
}
.my-work .item:hover .zoom-wrapper {	
	transform: scale(1);
	-webkit-transform: scale(1);
}
.my-work .item a{
	color: #3ba8c0;
	font-family: 'fira_sanslight_italic';
	font-size: 13px;
	text-decoration: none;
}
.my-work .item .description{
	font-size: 15px;
	margin: 5px 0;
	line-height: 1.2;
}
/* Старый ei (для него пишем другую анимацию)*/
.lt-ie9 .menu ul li{
	border-bottom: none;
}
.lt-ie9 .menu ul li.current{
	margin-top: 0;
}
.lt-ie9 .my-work .item .zoom-wrapper{
	display: none;
}
.lt-ie9 .my-work .item:hover .zoom-wrapper {	
	display: block;
}
/* // Старый ei */
/* _____________ // Существующие проекты и подписи _________ */


/* _____________ Добавить проект _________ */
.add-new-item{	
	border: dashed 1px #3ba8c0;
	border-radius: 4px;
	height: 128px;
	cursor: pointer;
	text-decoration: none;
}
.add-new-item .icon-add{
	background: url('../images/add-new.png') no-repeat;
	height: 32px;
	width: 32px;
	display: block;
	margin: 32px auto 9px;	
	transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
}
.add-new-item:hover .icon-add {
	animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
		-webkit-animation: moveFromBottom 500ms ease;
}
.add-new-item span{
	color: #3ba8c0;
	font-size: 13px;
	transition: all 400ms linear;
	-webkit-transition: all 400ms linear;
}
.add-new-item:hover span{
	animation: moveFromBottom 600ms ease;
    -moz-animation: moveFromBottom 600ms ease;
    -ms-animation: moveFromBottom 600ms ease;
		-webkit-animation: moveFromBottom 600ms ease;
}

@-webkit-keyframes moveFromBottom {
	from { -webkit-transform: translateY(200%); opacity: 0;}
    to { -webkit-transform: translateY(0%) scale(1); opacity: 1;}
}

@-moz-keyframes moveFromBottom {
    from { -moz-transform: translateY(200%); opacity: 0;}
    to { -moz-transform: translateY(0%); opacity: 1;}
}
@-ms-keyframes moveFromBottom {
    from { -ms-transform: translateY(200%); opacity: 0;}
    to { -ms-transform: translateY(0%); opacity: 1;}
}
@-o-keyframes moveFromBottom {
	from { -o-transform: translateY(200%); opacity: 0;}
    to { -o-transform: translateY(0%); opacity: 1;}
}
@keyframes moveFromBottom {
	from { transform: translateY(200%); opacity: 0;}
    to { transform: translateY(0%); opacity: 1;}
}
/* _____________ // Добавить проект _________ */


/* Прячем модальное окно */
#new-progect-popup { 
	display:none; 
}



